

.navbar {
    background-color: #fbf3ef ;
    padding: 2rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: #fff;
}

.hero {
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-imagen {
    width: 25%;
    height: 25%;
    margin: 20px;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle {
    font-size: 2.5rem;
    font-family: sans-serif;
    color: #6e24a5;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}

.subtittle {
    color: #000000;
    font-weight: 100;
    font-family: 'PT Sans', sans-serif;
}

.section-dark {
    background-color: #1b1b32;
    color: #fff;
}

.about-me {
    height: 500px;
    padding: 10px;
}

.about-me .contain {
    max-width: 600px;
    text-align: center;
}

.section-tittle {
    font-size: 2rem;
    padding: 15px 0px;
    font-family: 'Work Sans', sans-serif;
}

.section-text {
    font-size: 1.2rem;
}

.experience {
    padding: 40px;
}

.experience .row div {
    height: 250px;
    background-color: aliceblue;
}

.section-white {
    background-color: white;
    color: #000000;
}

/* (Responsive) */


@media screen and (min-width: 700px) {
       .hero-infer-img {
           max-width: 600px;
        }
}