

.navbar {
    background-color: #fbf3ef ;
    padding: 2rem;
    font-size: 1.10rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: #fff;
}

.hero {
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-imagen {
    width: 25%;
    height: 25%;
    margin: 20px;
    border-radius: 50%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle {
    font-size: 2.5rem;
    font-family: sans-serif;
    color: #6e24a5;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
}

.subtittle {
    color: #000000;
    font-weight: 100;
    font-family: 'PT Sans', sans-serif;
}

.section-dark {
    background-color: #1b1b32;
    color: #fff;
}

.about-me {
    height: 500px;
    padding: 10px;
}

.about-me .contain {
    max-width: 600px;
    text-align: center;
}

.section-tittle {
    font-size: 2rem;
    padding: 15px 0px;
    font-family: 'Work Sans', sans-serif;
}

.section-text {
    font-size: 1.1rem;
}

.experience i {
    font-size: 2rem;
    color: white;
    background-color: #000000;
    padding: 8px 19px;
    border-radius: 50%;
}

.experience {
    padding: 40px 40px 60px 40px;
}

.experience .column-00 {
    padding: 20px;
    border: 1px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.section-white {
    background-color: white;
    color: #000000;
}

.experience-tittle {
    font-size: 22px;
    margin: 10px 0px;
    font-weight: bold;
}

.badges-cont {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: bold;
}

.badge {
    margin: 5px;
}

.text-black {
   color: #000000;
}

.text-white {
   color: #fff;
}

/* Projects */

.projects {
    padding: 40px;
}

.projects img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.prj-container {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

.overlay .icons-container {
    display: flex;
}

.overlay i {
    color: #000000;
    font-size: 60px;
    margin: 10px;
} 

.proj-01 {
    position: relative;
}

.proj-01:hover img {
    opacity: 0.2;
}

.proj-01:hover .overlay {
    opacity: 1;
}
/* Button */

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}

/* Articulos */

.articulos {
    min-height: 500px;
    padding: 30px;
}

.articulos .card {
    width: 80%;
    margin: 20px;
    max-width: 600px;
}

.articulos .card-header {
    font-weight: bold;
}

.testimonials {
    padding: 40px 40px 80px 40px;
}

/* Carousel */

.testimonials .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.testim-img {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testim-text {
    max-width: 70%;
    font-size: 15px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.testim-information {
    font-size: bold;
    text-align: center;
}

.testim-information p {
    margin-bottom: 0px;
}

.testim-information .client {
    font-size: 1.2rem;
}

.testim-information .rol {
    font-size: 0.9rem;
    color: grey;
}

/* Contact */

.contact .container {
    max-width: 2100px;
    min-height: 200px;
    padding: 20px;
}

.contact, .rect {
    margin-top: -5rem;
    border-radius: 10px;
    background-color: rgb(13,110,253);
    box-shadow: 0px 1px 4px 1px white;
}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact, .description {
    color: #fff;
    font-size: 1.2rem;
}

.contact button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contact button:hover {
    background-color: white;
    color: rgb(13,110,253)
}

/* (Responsive) */

@media screen and (min-width: 700px) {
       .hero-infer-img {
           max-width: 600px;
        }
}

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .testim-img {
        height: 120px;
        width: 120px;
    }

    .testim-text {
        font-size: 18px;
    }
}
